/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    --white: white;
    --black: black;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: #dfdde0;
    --player-x-color: #06B6D4;
    --player-o-color: #F97316;

    --display-height: 12vh;
    --spacing: 1.5em;
}
/* HEADER */
header {
    width: 100vw;
    height: var(--display-height);
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    justify-content: center
}

#heading {
    font-size: 3em;
}

/* MAIN */
main {
    width: 100vw;
    height: calc(100vh - var(--display-height));
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing);
}

.btn {
    height: 3em;
    width: 5rem;
    border: none;
    border-radius: .5em;
    background-color: var(--background-blue);
    color: var(--white)
}

.btn:hover {
    background-color: var(--background-blue-hover);
}

.btn:active {
    background-color: var(--background-blue-active);
}

#start-btn {
    margin-bottom: 0.5rem;
}

/* DIALOG BOX */
#dialog {
    height: 18rem;
    width: 16rem;
    top: 20%;
    left: 40%;
    border: none;
    border-radius: 0.3em;
    background-color: var(--background-gray);
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.dialog-input {
    height: 3em;
    width: 90%;
    margin: 1em 1em 1em 1em;
    border-radius: 0.4em;
    font-size: 1em;
    border: none;
}

.dialog-input::placeholder {
    color: var(--background-blue-hover);
}

input:focus {
    outline: none; 
}

#submitBtn {
    background-color: var(--background-blue);
    color: var(--white)
}

#submitBtn:hover{
    background-color: var(--background-blue-hover);
}

#submitBtn:active {
    background-color: var(--background-blue-active);
}

/* CONTAINER */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: var(--spacing) */
}

#player-container {
    display: flex;
    gap: 10rem;
}

.player-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard-container {
    /* border: 1px solid red; */
    margin-top: var(--spacing);
    height: 20rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.boardDiv.xDiv {
    background-color: var(--player-x-color);
}

.boardDiv.oDiv {
    background-color: var(--player-o-color);
}

#div4,#div5,#div6,#div7,#div8,#div9{
    border-top: 0.4rem solid var(--background-blue);
}

#div2,#div3,#div5,#div6,#div8,#div9{
    border-left: 0.4rem solid var(--background-blue);
}

#buttons-container {
    margin-top: var(--spacing);
    display: flex;
    gap: 2rem;
}
