/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    --white: white;
    --black: black;
    --background-gray: gray;
    --background-blue: blue;
    --background-blue-hover: blue;
    --background-blue-active: blue;

    --display-height: 15vh;
}
/* HEADER */
header {
    width: 100vw;
    height: var(--display-height);
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white)
}
/* MAIN */
main {
    width: 100vw;
    height: calc(100vh - var(--display-height));
    background-color: var(--background-gray);
}
