/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    --white: white;
    --black: black;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: #dfdde0;

    --display-height: 15vh;
    --spacing: 1.5em;
}
/* HEADER */
header {
    width: 100vw;
    height: var(--display-height);
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
/* MAIN */
main {
    width: 100vw;
    height: calc(100vh - var(--display-height));
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing);
}

#start-btn {
    height: 3em;
    width: 5rem;
    border: none;
    border-radius: .5em;
    background-color: var(--background-blue);
    color: var(--white)
}

#start-btn:hover {
    background-color: var(--background-blue-hover);
}

#start-btn:active {
    background-color: var(--background-blue-active);
}


/* DIALOG BOX */
#dialog {
    height: 18rem;
    width: 16rem;
    top: 20%;
    left: 40%;
    border: none;
    border-radius: 0.3em;
    background-color: var(--background-gray);
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.dialog-input {
    height: 3em;
    width: 90%;
    margin: 1em 1em 1em 1em;
    border-radius: 0.4em;
    font-size: 1em;
    border: none;
}

.dialog-input::placeholder {
    color: var(--background-blue-hover);
}

input:focus {
    outline: none; 
}

#submitBtn {
    background-color: var(--background-blue);
    color: var(--white)
}

#submitBtn:hover{
    background-color: var(--background-blue-hover);
}

#submitBtn:active {
    background-color: var(--background-blue-active);
}